/*  general style start here */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Mono", monospace;
  line-height: 1.6;
  width: 100%;
  height: 100%;
  max-width: 100vw;
  align-content: center;
  text-align: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  text-transform: uppercase;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* logo */
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: 6%;
  min-width: 90px;
  padding: 25px 0;
  margin-left: 200px;
}

/*  nav links */
nav {
  font-size: 1.1rem;
  padding: 35px 0;
}

.nav-list {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  padding-right: 50px;
}

.nav-list-item {
  padding: 10px 20px;
}

.nav-list-item a {
  color: rgb(127, 127, 127);
}

.apply-now a {
  color: white;
  background-color: rgb(74, 80, 187);
  font-weight: 600;
  border-radius: 4px;
  padding: 20px 30px;
}

.banner {
  background: rgba(132, 123, 123, 0.7) url(images/home-header-hyf.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  background-blend-mode: darken;
}

.banner-text {
  font-size: 70px;
  line-height: 120%;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 150px 0;
}

/* Our program */

.our-program {
  width: 100%;
  padding: 90px;
  display: flex;
  justify-content: space-around;
}

.program-text {
  width: 40%;
}

.our-program a {
  background-color: transparent;
  color: rgb(74, 80, 187);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: -20px;
}

.become-partner a {
  color: rgb(74, 80, 187);
  font-size: 12px;
  line-height: 160%;
  font-weight: 600;
  padding: 10px 20px;
  box-sizing: border-box;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
}

.nav-list-item a:hover {
  color: rgb(236, 229, 229);
  border-bottom: 3px solid rgb(74, 80, 187);
  padding-bottom: 10px;
}

.our-program h2 {
  font-weight: 800;
  color: rgb(28, 34, 148);
  text-align: left;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
}

.our-program p {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: 600px;
  line-height: 160%;
  font-size: 1.2rem;
  font-weight: 300;
}

.pro-paragraph1 b {
  display: inline;
  color: rgb(74, 80, 187);
  font-weight: bold;
}

.apply-right b {
  color: rgb(74, 80, 187);
  font-weight: bold;
}

.our-program p b {
  color: rgb(74, 80, 187);
  font-weight: bold;
}

.our-program a:hover {
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(225, 225, 225);
}

/* our program image */

.our-image {
  width: 40%;
}

/* HYF Impact */
.impact {
  width: 85%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 20px #e5e5e5;
  border: none;
  padding: 50px;
}

.impact-text {
  width: 100%;
}

.impact-text h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  color: rgb(28, 34, 148);
  text-align: center;
  margin-bottom: 20px;
}

.text-paragraph {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 20px 80px;
}

.impact-stats {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 30%;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: rgb(28, 34, 148);
  padding: 20px 50px 20px 20px;
}

.title h2 {
  font-size: 1.4rem;
  font-weight: 700;
}

/* HYF The program page start here */
.pro-intro {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
  padding: 50px 20px;
  position: relative;
  flex: 0 0 auto;
}

.pro-short-intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 35%;
  margin-left: 200px;
  margin-right: 50px;
}

.pro-short-intro h1 {
  font-size: 36px;
  line-height: 120%;
  margin: 20px auto;
  font-weight: 700;
  color: rgb(74, 80, 187);
  text-align: left;
}

.pro-paragraph1 {
  color: rgb(45, 48, 55);
  text-align: left;
  font-size: 16px;
  margin: 10px 0;
}

.pro-appli-para {
  text-decoration: underline;
  color: rgb(74, 80, 187);
  padding: 50px 0;
}

.pro-apply {
  display: inline-flex;
  font-size: 12px;
  background-color: rgb(74, 80, 187);
  color: white;
  font-weight: 600;
  border-radius: 4px;
  padding: 10px 20px;
  text-transform: uppercase;
  -webkit-box-align: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
}

.pro-intor-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: 20px;
}

/* HYF partners */

.partners-container {
  width: 85%;
  margin: 20px auto;
  padding: 50px 0;
}

.partners-title-c {
  display: inline-flex;
}

.partners-title {
  font-size: 24px;
  margin-bottom: 20px;
  font-weight: 700;
  color: rgb(28, 34, 148);
  text-align: left;
}

.become-partner {
  display: inline-flex;
  align-items: flex-end;
}

.become-partner a:hover {
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(225, 225, 225);
}

.our-partners-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.our-partners-image img {
  display: inline-block;
  flex-direction: row;
  width: 170px;
  z-index: 0;
  height: 100%;
  -webkit-box-align: center;
  justify-content: space-between;
}

/* footer */
.footer {
  padding: 50px 20px;
  box-shadow: rgb(0 0 0 / 8%) 0 0 53px;
}

.footer-title {
  text-shadow: 0 14px 10px rgba(0, 0, 0, 0.4);
  font-weight: bolder;
  color: #4867aa;
  text-transform: uppercase;
}

.email-text,
.footer-p {
  color: rgb(45, 48, 55);
}

/* social media icons */
.social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 100vh;
}

.social-media i {
  padding: 10px;
  text-shadow: 0 6px 8px rgba(0, 0, 0, 0.6);
  transition: all ease-in-out 150ms;
}

.social-media a:nth-child(1) {
  color: #4867aa;
}

.social-media a:nth-child(2) {
  color: #4867aa;
}

.social-media a:nth-child(3) {
  color: #4867aa;
}

.social-media a:nth-child(4) {
  color: #4867aa;
}

.social-media i:hover {
  margin-top: -3px;
  text-shadow: 0 14px 10px rgba(0, 0, 0, 0.4);
}

/* The requirements sections(who can apply) */
.who-can-apply {
  width: 100%;
  padding: 50px 20px;
  display: flex;
}

.apply-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
  margin-left: 200px;
  margin-right: 50px;
}

.apply-left h2 {
  color: rgb(28, 34, 148);
  text-transform: uppercase;
  font-weight: 700;
  line-height: 140%;
  font-size: 24px;
  margin-bottom: 20px;
}

.apply-left p {
  color: rgb(45, 48, 55);
  text-align: left;
  font-size: 16px;
  margin: 10px 0;
}

.apply-right {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

apply-right {
  padding-left: 40px;
}

.apply-right img {
  background-color: rgb(28, 34, 148);
}
