/*  general style start here */
@import url("https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Space Mono", monospace;
  line-height: 1.6;
  width: 100%;
  height: 100%;

  /* max-width: 1280px; */
  align-content: center;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  text-transform: uppercase;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* logo */
.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  width: 6%;
  min-width: 90px;
  padding: 25px 0;
  margin-left: 200px;
}

/*  nav links */
nav {
  font-size: 1.1rem;
  padding: 35px 0;
}

.nav-list {
  font-family: "Work Sans", sans-serif;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
  padding-right: 50px;
}

.nav-list-item {
  padding: 10px 20px;
}

.nav-list-item a {
  color: rgb(127, 127, 127);
}

.apply-now a {
  color: white;
  background-color: rgb(74, 80, 187);
  font-weight: 600;
  border-radius: 4px;
  padding: 20px 30px;
}

.banner-1 {
  background: rgba(132, 123, 123, 0.7) url(images/home-header-hyf.jpg);
  background-size: cover;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid transparent;
  background-blend-mode: darken;
}

.banner-name {
  font-size: 70px;
  line-height: 120%;
  text-transform: uppercase;
  font-family: "Work Sans", sans-serif;
  font-weight: 800;
  color: rgb(255, 255, 255);
  text-align: center;
  margin: 150px 0;
}

/* Our program */

.our-program {
  width: 100%;
  padding: 90px;
  display: flex;
  justify-content: space-around;
}

.program-text {
  width: 40%;
}

.our-program a {
  background-color: transparent;
  color: rgb(74, 80, 187);
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
  margin-left: -20px;
}

.nav-list-item a:hover {
  color: rgb(236, 229, 229);
  border-bottom: 3px solid rgb(74, 80, 187);
  padding-bottom: 10px;
}

.our-program h2 {
  font-weight: 800;
  color: rgb(28, 34, 148);
  text-align: left;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 20px;
}

.our-program p {
  color: rgb(45, 48, 55);
  text-align: left;
  max-width: 600px;
  line-height: 160%;
  font-size: 1.2rem;
  font-weight: 300;
}

.our-program p b {
  color: rgb(74, 80, 187);
  font-weight: bold;
}

.our-program a:hover {
  border: 1px solid transparent;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: rgb(225, 225, 225);
}

/* our program image */

.our-image {
  width: 40%;
}

/* HYF Impact */
.impact {
  width: 85%;
  margin: 20px auto;
  background-color: rgba(255, 255, 255);
  box-shadow: 0 0 20px #e5e5e5;
  border: none;
  padding: 50px;
}

.impact-text {
  width: 100%;
}

.impact-text h2 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 800;
  color: rgb(28, 34, 148);
  text-align: center;
  margin-bottom: 20px;
}

.text-paragraph {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 1.2rem;
  padding: 20px 80px;
}

.impact-stats {
  display: flex;
  justify-content: space-between;
}

.box {
  width: 30%;
  color: white;
  font-weight: 500;
  font-size: 1.2rem;
  background-color: rgb(28, 34, 148);
  padding: 20px 50px 20px 20px;
}

.title h2 {
  font-size: 1.4rem;
  font-weight: 700;
}
