@import url("./something.css");

.dbDDLx {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  width: 100%;
  padding: 50px;
  position: relative;
  box-shadow: none;
  background: none;
  z-index: 1;
  flex: 0 0 auto;
}
